body {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

.gallery {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-gallery  {
  display:flex;
  overflow-x: auto;
  gap:10px;
  padding:10px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  
}