body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f9d6e0, #fceabb);
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
} 

.card {
    width: 350px;
    height: 400px;
    perspective: 1000px;
    position: relative;
}

.font, .inside {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 1s;
}


.fonth1, .font h2, .font p, .inside h2, .inside p {
    opacity: 1;
}


.font button, .inside button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background: #e91e63;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.inside {
    transform: rotateY(180deg);

}

.card.open .front {
    transform: rotatey(180deg);
}

.card.open .inside {
    transform: rotatey(0);
}

.animated-text {
    animation:fedeInUp 1s forwards;
}

@keyframes fadeInUp {
    form {opacity:0; transform:translatey(20px);}
    to {opacity:1; transform:translatey(0);}
}

canvas#confetti {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

